@{
  ViewData["Title"] = "Index";
}

<h2>Stock IEX Trading Application</h2>
<hr />

<div>
    <p>
        <h3>
            This application let's you fetch trading data from IEX via their public
            <a href="https://iextrading.com/developer/">API</a>.
        </h3>

        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Symbols">Symbols</a> tab fetches symbols data from the
        <a href="https://iextrading.com/developer/docs/#reference-data">IEX Reference API </a> and displays the results.
        This data can also be saved in the local database.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Chart">Chart</a> tab let you select a Company(symbol) and fetches a quote from
        <a href="https://iextrading.com/developer/docs/#stocks">IEX Stock API</a>.
        The quote can also be saved in the local database.
        <br />
        <br />
        The <a asp-area="" asp-controller="Trade" asp-action="Trade">Largest Trades</a> tab provides information on largest orders on the market.
        <a href="https://iextrading.com/developer/docs/#largest-trades">IEX Stock API</a>.
        <br />
        <br />
        The <a asp-area="" asp-controller="EffectiveSpread" asp-action="EffectiveSpread">Effective Spread</a> tab let you measure marketable orders executed in relation to the market center’s quoted.
        <a href="https://iextrading.com/developer/docs/#effective-spread">IEX Stock API</a>.
        <br />
        <br />
        The <a asp-area="" asp-controller="Dividend" asp-action="Dividend">Dividends</a> tab provide the information about the historical performance of stocks.
        <a href="https://iextrading.com/developer/docs/#dividends">IEX Stock API</a>.
        <br />
        <br />
        The <a asp-area="" asp-controller="Watchlists" asp-action="Index">My Watchlist</a> tab allows you to keep track of your favorite stocks/companies.
        @*<a href="https://iextrading.com/developer/docs/#dividends">IEX Stock API</a>.*@
        <br />
        <br />
        The <a asp-area="" asp-controller="Highlights" asp-action="News">Latest Highlights</a> tab provides the latest news from stock markets to keep you updated on events.
        <a href="https://iextrading.com/developer/docs/#list">IEX Stock API</a>.
        <br/>
        It also contains 3 sub tabs which provides below updates on the market.
        <br/>
        1.<a asp-area=" " asp-controller="Highlights" asp-action="TopGainers"> Top Gainers </a> provides information of the Top 10 Gainers of the day.
        <br />
        2.<a asp-area=" " asp-controller="Highlights" asp-action="TopLosers"> Top Losers </a>provides information of the Top 10 Losers of the day.
        <br/>
        3.<a asp-area=" " asp-controller="Highlights" asp-action="MostActive"> Most Active </a>provides information of the Most Active stocks of the day.
        <br />
        <br />
        The <a asp-area="" asp-controller="Home" asp-action="Refresh">Refresh</a> tab let's you refresh the local database, that is, remove all its contents.
    </p>
  @*<p>
    The application demonstrates the following -
    <ul>
      <li>Connection to REST API (the example uses IEXTrading, an easy-to-use API that provides stock data)</li>
      <li>Parsing the Json objects returned from the API</li>
      <li>Modeling API results as entities</li>
      <li>Persisting data to a relational database</li>
    </ul>
  </p>*@
</div>