
@{
    ViewData["Title"] = "AboutUs";
}

<h2>About Us</h2>

<p>
    We are an investment and stock brokerage firm trying to help people make smart trading choices. Our website helps people to understand and chose the best perfoming stocks according to their needs.
    Our focus is providing the right information to our clients to make an informed choice. We provide guidance in all aspects of trading and offer persoanlized solutions.
</p>

<p>You can find valuable information on each aspect related to trading as presented below.</p>

<h3>Largest Trades</h3>

<p>Provides information on largest orders executed in whole or in part the last 15 minutes on the exchange.</p>

<h4>Dividends</h4>

<p>Dividends provide the information about the historical performance of stocks</p>

<h5>Effective Spread</h5>

<p>Effective spread is designed to measure marketable orders executed in relation to the market center’s quoted spread and takes into account hidden and midpoint liquidity available at each market center.</p>

<h6>Watchlists</h6>

<p>Allows you to keep track of your favourite stocks/companies and provides you convinience in selecting the right stocks/companies.</p>

<h7>Highlights</h7>

<p>Provides the latest news from stock markets to keep you updated on events. It also allows you to see the top gainers, losers and most active stoks of the day.</p>

<h8>Our Team</h8>

<p>David Lam</p>
<p>Kirti Tiwari</p>
<p>Vidya Sagar Gunnala, an MBA with 6 years of experience in Human Resources focussed on making a career in HR Analytics. Career aspiration is to develop people solutions by utilizing Analytical tools and Analytics approach. </p>

<h9>Github Link</h9>
<a href="https://github.com/Davidlam1990/API_Usage--Assigment4">Project repository</a>